@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}

@layer components {
  .aside-button {
    @apply h-14 w-full px-3 text-left duration-200 ease-in-out hover:bg-slate-500;
  }
  .input-sm {
    @apply h-10 rounded-xl bg-gray-800 px-3 py-2.5 text-sm text-white/90;
  }
  .field-container {
    @apply flex items-center;
  }
  .default-button {
    @apply grid h-12 w-40 place-items-center rounded-md bg-blue-600 transition hover:bg-blue-500 hover:text-white disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:hover:text-black;
  }
  .default-input {
    @apply w-full rounded-lg bg-transparent px-2 text-sm outline-0 ring-0 hover:bg-white/20 focus:bg-white/20;
  }
  .container {
    @apply w-full px-2 py-4;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
  .styled-scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  .styled-scrollbar::-webkit-scrollbar-track {
    @apply rounded-lg;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-500;
  }
  .styled-scrollbar::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
}
